.reduce-image {
  display: block;
  max-height: 150px;
  max-width: 150px;

}

.center-table{
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 10px;
  box-shadow: 10px 10px 10px 10px grey;
}

.font-size-cell{
  font-size: 25px;
}
